.map-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 0 5em;
  font-family: "Krub", sans-serif;
  width: 100%;
  height: 86vh;
}

.map-info {
  width: 30vw;
  color: #3e363e;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-info h2 {
  font-size: 6vw;
  font-weight: 200;
  font-family: "Sacramento", cursive;
}

.map-info p {
  font-size: 1.3vw;
  font-weight: 300;
}

.map-info p a {
  color: #3e363e;
}

.map-info .material-symbols-rounded {
  width: 40%;
  filter: invert(64%) sepia(16%) saturate(4206%) hue-rotate(323deg) brightness(99%) contrast(83%);
  animation: move 0.5s infinite alternate-reverse ease-in-out;
  position: relative;
  cursor: pointer;
}

@keyframes move {
  0% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}

.map {
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.263);
  box-shadow: 0 0 5px lightgrey;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1280px) {
  .map-info p {
    font-size: 18px;
  }

  .map-info .material-symbols-rounded {
    font-size: 100px;
  }
}

@media screen and (max-width: 991px) {
  .map-info h2 {
    font-size: 45px;
  }
  .map-container {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2em;
    height: 70%;
    padding: 0;
  }
  .map {
    height: 50vh;
    border-radius: 0;
  }

  .map-info {
    width: 90vw;
    padding: 0 3em;
  }
  .map-info .material-symbols-rounded {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .map {
    height: 35vh;
  }
}
