#navigation {
  font-family: "Krub", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar-brand img {
  width: 2em;
  height: 2em;
}

.nav-link {
  padding: 1em;
}

.nav-link:hover {
  background-color: #f87254;
  color: white;
  transition: all 0.5s;
  font-weight: 600;
}

.nav-link.active:hover {
  color: white;
}

#navigation .nav-link.active {
  color: rgba(0, 0, 0, 0.55);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.signed-in {
  display: none;
}


@media screen and (max-width: 991px) {
  .signed-in {
    display: inline;
    color: rgba(0, 0, 0, 0.55);
  }

  .signed-in:hover {
    color: rgba(0, 0, 0, 0.55);
    background-color: rgb( 248,249,250);
    font-weight: 400 ;
  }
}
