.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 10em;
  gap: 2em;
}

.profile-header {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 1em;
  border: 1px solid lightgrey;
  padding: 2em;
  border-radius: 0.375rem;
  font-family: "Krub", sans-serif;
  box-shadow: 0 0 5px lightgrey;
}

.profile-pic {
  height: 100%;
  border-radius: 0.375rem;
}

.profile-info {
  /* width: 63%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* gap: 25px; */
}

.profile-info h1 {
  font-weight: 200;
  font-size: 70px;
  margin: 0;
}

.profile-info h4 {
  font-weight: 200;
  font-size: 20px;
  margin: 0;
  color: gray;
}

.profile-info p {
  font-weight: 600;
  font-size: 35px;
  margin: -20px -10px 0 0;
  text-align: end;
  color: #d83b01;
}

.profile-welcome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-welcome .profile-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1em;
  padding: 0px;
}

.profile-welcome .profile-actions span {
  font-size: 35px;
}

.profile-actions:hover {
  cursor: pointer;
}

.profile-info table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  margin: 0;
}

.profile-info tbody {
  font-size: 70px;
}

.profile-info .unit {
  font-size: 30px;
}

.profile-stats {
  font-family: "Krub", sans-serif;
  width: 100%;
}

.profile-stats .run {
  width: 100%;
}

.profile-stats button {
  font-weight: 500;
  color: #495057;
}

.profile-stats button:hover {
  color: white;
  background-color: #3e363e;
}

.runs-tab {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.empty-runs-container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.empty-runs-container h3 {
  font-weight: 300;
  text-align: center;
}

.empty-runs-container .btn {
  width: 20rem;
  height: 7rem;
  color: white;
  font-size: 30px;
  align-self: center;
  border-radius: 0.5rem;
}

.empty-runs-container .btn:hover {
  border: 0.5px solid #3e363e;
}

@media screen and (max-width: 1280px) {
  .profile-section {
    padding: 3em 5em;
  }
  .profile-header {
    height: 400px;
  }
  .profile-info h1,
  .profile-info tbody {
    font-size: 60px;
  }
}

@media screen and (max-width: 991px) {
  .profile-header {
    /* flex-direction: column-reverse; */
    /* height: auto; */
    /* align-items: center; */
    height: 300px;
    padding: 1.5em;
  }

  .profile-pic {
    /* width: 25vw; */
    border-radius: 0.375rem;
  }

  .profile-info h1 {
    font-size: 45px;
  }

  .profile-info p {
    margin: -15px -10px 0 0;
    font-size: 25px;
  }

  .profile-info h4 {
    font-weight: 200;
    font-size: 15px;
    margin: 0;
    color: gray;
  }

  .profile-info .unit {
    font-size: 25px;
  }

  .profile-info tbody {
    font-size: 40px;
  }

  .profile-info th {
    font-size: 15px;
  }
}

@media screen and (max-width: 820px) {
  .profile-section {
    padding: 3em 2em;
  }

  .profile-stats .run {
    width: auto;
  }

  .profile-info h1 {
    font-size: 35px;
  }

  .profile-info p {
    margin: -15px -10px 0 0;
    font-size: 20px;
  }

  .profile-info .unit {
    font-size: 20px;
  }

  .profile-info tbody {
    font-size: 35px;
  }
}

@media screen and (max-width: 715px) {
  .profile-header {
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
  }
  .profile-pic {
    height: 35vh;
    margin: 5px;
  }

  .profile-welcome {
    flex-direction: column-reverse;
    gap: 1em;
    align-items: center;
  }

  .profile-welcome .profile-actions {
    flex-direction: row;
    justify-content: center;
  }

  .profile-info h4 {
    align-self: center;
  }

  .profile-info tbody {
    font-size: 50px;
  }

  .profile-info h1 {
    font-size: 50px;
  }
  .profile-info {
    gap: 1em;
  }
  .profile-stats {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
}
